.. |network-operator-version| replace:: {{ .NetworkOperator.Version }}
.. |network-operator-repository| replace:: {{ .NetworkOperator.Repository }}
.. |helm-chart-version| replace:: {{ .HelmChartVersion }}
.. |doca-driver-version| replace:: {{ .Mofed.Version }}
.. |doca-driver-repository| replace:: {{ .Mofed.Repository }}
.. |doca-driver-version-lts| replace:: 24.10-0.7.0.0-0
.. |doca-driver-repository-stig| replace:: {{ .MofedStigFips.Repository }}
.. |doca-driver-version-stig| replace:: {{ .MofedStigFips.Version }}
.. |doca-init-container-version| replace:: {{ .NetworkOperatorInitContainer.Version }}
.. |doca-init-container-repository| replace:: {{ .NetworkOperatorInitContainer.Repository }}
.. |sriov-device-plugin-version| replace:: {{ .SriovDevicePlugin.Version }}
.. |sriov-device-plugin-repository| replace:: {{ .SriovDevicePlugin.Repository }}
.. |k8s-rdma-shared-dev-plugin-version| replace:: {{ .RdmaSharedDevicePlugin.Version }}
.. |k8s-rdma-shared-dev-plugin-repository| replace:: {{ .RdmaSharedDevicePlugin.Repository }}
.. |ib-kubernetes-version| replace:: {{ .IbKubernetes.Version }}
.. |ib-kubernetes-repository| replace:: {{ .IbKubernetes.Repository }}
.. |cni-plugins-version| replace:: {{ .CniPlugins.Version }}
.. |cni-plugins-repository| replace:: {{ .CniPlugins.Repository }}
.. |multus-version| replace:: {{ .Multus.Version }}
.. |multus-repository| replace:: {{ .Multus.Repository }}
.. |ipoib-cni-version| replace:: {{ .Ipoib.Version }}
.. |ipoib-cni-repository| replace:: {{ .Ipoib.Repository }}
.. |nvidia-ipam-version| replace:: {{ .NvIPAM.Version }}
.. |nvidia-ipam-repository| replace:: {{ .NvIPAM.Repository }}
.. |nic-feature-discovery-version| replace:: {{ .NicFeatureDiscovery.Version }}
.. |nic-feature-discovery-repository| replace:: {{ .NicFeatureDiscovery.Repository }}
.. |sriovnetop-version| replace:: {{ .SriovNetworkOperator.Version }}
.. |sriovnetop-repository| replace:: {{ .SriovNetworkOperator.Repository }}
.. |sriovnetop-config-daemon-stig-version| replace:: {{ .SriovConfigDaemonStigFips.Version }}
.. |sriovnetop-config-daemon-stig-repository| replace:: {{ .SriovConfigDaemonStigFips.Repository }}
.. |sriovnetop-sriov-cni-version| replace:: {{ .SriovCni.Version }}
.. |sriovnetop-sriov-cni-repository| replace:: {{ .SriovCni.Repository }}
.. |sriovnetop-ib-sriov-cni-version| replace:: {{ .SriovIbCni.Version }}
.. |sriovnetop-ib-sriov-cni-repository| replace:: {{ .SriovIbCni.Repository }}
.. |sriovnetop-sriov-device-plugin-version| replace:: {{ .SriovDevicePlugin.Version }}
.. |sriovnetop-sriov-device-plugin-repository| replace:: {{ .SriovDevicePlugin.Repository }}
.. |doca-telemetry-version| replace:: {{ .DOCATelemetryService.Version }}
.. |doca-telemetry-repository| replace:: {{ .DOCATelemetryService.Repository }}
.. |node-feature-discovery-version| replace:: {{ .NodeFeatureDiscovery.Version }}
.. |node-feature-discovery-repository| replace:: {{ .NodeFeatureDiscovery.Repository }}
.. |doca-driver-build-commit| replace::  {{ .DocaDriverBuildCommitHash }}
.. |nic-configuration-operator-version| replace:: {{ .NicConfigurationOperator.Version }}
.. |nic-configuration-operator-repository| replace:: {{ .NicConfigurationOperator.Repository }}
.. |maintenance-operator-version| replace:: {{ .MaintenanceOperator.Version }}
.. |maintenance-operator-repository| replace:: {{ .MaintenanceOperator.Repository }}
.. |ovs-cni-version| replace:: {{ .OVSCni.Version }}
.. |ovs-cni-repository| replace:: {{ .OVSCni.Repository }}
.. |rdma-cni-version| replace:: {{ .RDMACni.Version }}
.. |rdma-cni-repository| replace:: {{ .RDMACni.Repository }}
.. |spectrumxop-version| replace:: {{ .SpectrumXOperator.Version }}
.. |spectrumxop-repository| replace:: {{ .SpectrumXOperator.Repository }}
.. |k8s-launch-kit-version| replace:: {{ .NetworkOperator.Version }}
.. |k8s-launch-kit-component-version| replace:: {{ .NicConfigurationOperator.Version }} # TODO: update to NetworkOperator.ComponentVersion later
.. |k8s-launch-kit-repository| replace:: {{ .NetworkOperator.Repository }}
.. |k8s-launch-kit-network-operator-repository| replace:: {{ .NetworkOperator.Repository }}
.. |current-ga-version| replace:: {{ .CurrentGAVersionMajorMinor }}
.. |current-maintenance-version| replace:: {{ .CurrentMaintenanceMajorMinor }}
.. |current-eol-version| replace:: {{ .CurrentEOLMajorMinor }}